[submodule "swsec-intro-python-backend"]
	path = swsec-intro-python-backend
	url = https://github.com/injcristianrojas/swsec-intro-python-backend.git
[submodule "swsec-intro-angular-frontend"]
	path = swsec-intro-angular-frontend
	url = https://github.com/injcristianrojas/swsec-intro-angular-frontend.git
