[submodule "swsec-intro-backend-python"]
	path = backend
	url = https://github.com/injcristianrojas/swsec-intro-backend-python.git
[submodule "swsec-intro-frontend-angular"]
	path = frontend
	url = https://github.com/injcristianrojas/swsec-intro-frontend-angular.git
